* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

.container {
    position: relative;
}

.score {
    position: absolute;
    color: white;
    margin: .5rem 0 0 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: large
}
